@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override the default Leaflet control buttons */
.leaflet-control-layers,
.leaflet-draw-toolbar {
  @apply bg-white/50 border-0 backdrop-blur !rounded-lg p-2 flex flex-col gap-3;
}

.leaflet-bar a {
  @apply hover:bg-gray-400 text-black font-bold py-2 px-3 rounded-md;
}

.leaflet-draw-actions li a {
  @apply flex justify-center items-center bg-black hover:bg-gray-600 text-white font-bold py-2 px-3 !rounded-md border-0;
}
.leaflet-draw-actions {
  @apply !flex !gap-2 !mr-7;
}

/* Style the edit and delete buttons */
.leaflet-draw-edit-remove a {
  @apply bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-3 rounded-md;
}

/* Make the toolbar smaller */
.leaflet-bar a {
  @apply w-10 h-10 flex items-center justify-center;
}

/* Style the layer control */
.leaflet-control-layers-toggle {
  @apply shadow-md rounded-lg p-2 cursor-pointer bg-white/50 border-0 backdrop-blur;
}

/* Optional: Style the buttons when active */
.leaflet-draw-toolbar a.active {
  @apply bg-blue-600 text-white;
}
.leaflet-control-layers-selector {
  @apply bg-white/50 border-0 backdrop-blur;
}

::-webkit-scrollbar {
  width: 13px;
  height: fit-content;

}


::-webkit-scrollbar-track-piece {
  background-color: #222324;
}


::-webkit-scrollbar-thumb:vertical {
  width: 5px;
  background-color: #C0E888;
}


.button {
  --main-focus: #2d8cf0;
  --font-color: #1f2937;
  --bg-color-sub: #1f2937;
  --bg-color: #C0E888;
  --main-color: #1f2937;
  position: relative;
  width: 180px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  
  transform: translateX(25px);
  color: var(--font-color);
  font-weight: 600;
}

.button .button__icon {
  margin-left:30px;
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 40px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 20px;
  stroke: var(--bg-color);
}

.button:hover {
  background: var(--bg-color);
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 180px;
  transform: translateX(-32px);
}

.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}